@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(/imagens/fundo.jpg);
    background-size: 100%;
}

#caixa-imagem{
    border: 5px solid black;
    width: 800px;
    height: 500px;
    position: relative;
}

#meme-imagem{
    width: 100%;
    height: 100%;
}

#recebe-meme{
    position: absolute;
    width: 100%;
    height: 150px;
    text-align: center;
}

#escreve-meme{
    width: 410px;
    height: 30px;
    font-size: 20px;
}

#titulo{
    display: flex;
    justify-content: center;
}

h1{
    padding: 10px 0;
    margin:20px 0;
    text-align: center;
    font-family:"Odibee Sans";
    font-size: 3em;
    width:25%;
    border: 4px solid #fff;
    border-radius: 8px;
}

h3{
    font-size: 1em;
    margin-bottom: 10px;
}

#caixa-principal{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.caixas{
    text-align: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px ;
    font-family:"Odibee Sans";
    font-size: 1.5em;
}

.caixas-input-select{
    border-radius: 3px;
    border: 1px solid black;
}

#caixa-conteudo{
    display: flex;
    justify-content: center;
}

footer{
    text-align: center;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
}