body {
    background-color: rgb(213, 193, 231);
    display: flex;
}

section {
    text-align: center;
    border: black solid;
    width: 100%;
    border-radius: 20px;
}

.todosBotoes{
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
}
