body{
  font-family:sans-serif;
  background-image:url(ashley-edwards-zwmkMkJ2Qi4-unsplash.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  overflow:auto;
}
h1{
  text-align: center;
}
section{
  display:inline-block;
}
#esquerda{
  margin-left: 200px;
  margin-top: 100px;
}
#direita{
  margin-left:250px;
  margin-top:50px;
}
#digita-texto{
  background: transparent;
  width: 300px;
}
#tarefas{
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
  border: 2px solid gray;
  border-radius: 5px;
  width: 450px;
  min-height: 20px;
  max-height: 300px;
  overflow:auto;

}
.tarefa-aberta{
  line-height: 20px;
  word-break: normal;
  border: 1px gray;
  border-top-style: dotted;
}
.clicada{
  background-color:#ffff99;
  width: 500px;
}
button{
  background-color: #454545;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
/*-webkit-appearence:button;*/
}
button:disabled{
  background-color: #f2f2f2;
}
.cumprido{
 text-decoration: line-through;
 background-color:#454545; 
 width: 500px;
 opacity:0.5;
}