body {
    background-color: rgb(47, 165, 53);    
}

#container {
    padding: 15px;
    border-radius: 15px;
    background-color: white;
}

button {
    cursor: grab;
}

.highlight {
    background-color: #FFFF00
}