*{
    margin: 0;
    padding: 0;
}

#quadrado-principal{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 28px;
    margin-left: 600px;
}

.linha{
    width: 200px;
    height: 40px;
    display: flex;;
}

.quadrados{
    width: 39px;
    height: 39px;
    border: solid 1px black;
    border-top: 0px;
    border-right: 0px;
}

.quadrados:first-child{
    border-left: 0px;
    width: 40px;
}

#linha-cinco .quadrados{
    border-bottom: 0px;
    height: 40px;
}

#paleta-cores{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 600px;
}

#paleta-cores #preta{
    background: black;
}

.caixa-cor{
    width: 40px;
    height: 40px;
    border: 3px solid black;
}

h3{
    margin-left: 600px;
    margin-top: 180px;
    width: 200px;
    text-align: center;
}


