html{
  text-align: center;
}

ol{
  list-style-position: inside;
}

li{
  text-align: center;
}

.risca{
  text-decoration: line-through;
}

.destaca{
  background-color: blue;
}

.destaque{
  background-color: cornsilk;
}
