* {
    margin: 0;
}

.clear{
clear: both;
margin-top: 120px;
}

.botao {
    width: 350px;
    height: 90px;
    color: brown;
    font-size: 2em;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(211, 137, 27);
    font-weight: bolder;
    border-color: rgb(187, 113, 28);
    border-radius: 5px;
}

.botaoEnviar {
    width: 350px;
    height: 90px;
    color: brown;
    font-size: 2em;
    margin-left: 10px;
    background-color: rgb(211, 137, 27);
    font-weight: bolder;
    border-color: rgb(187, 113, 28);
    border-radius: 5px;
}

button {
    cursor: pointer;
}

body {
    margin: 0 auto;
    text-align: center;
    background-image: url("./images/fundoDeMadeira.jpg");
    background-size: 100%;
    background-clip: border-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: 90px;
}

header h1:hover{
    color: chartreuse;
}

header{
    background-color: cornflowerblue;
    border-bottom: 9px groove rgb(189, 104, 43);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
}

header h1 {
    font-size: 70px;
    width: 700px;
}

article h2 {
    font-size: 50px;
}

#textoFormulario{
    width: 700px;
    height: 80px;
    font-size: 30px;
    margin-bottom: 5px;
}

li {
    font-size: 50px;
}

article p {
    font-size: 35px
}

section h1 {
    font-size: 60px;
}

section p {
    font-size: 30px;
    color: white;
}
.flex-container{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    align-content: center;
}
li:hover{
    background-color: gray;
    color: rgb(95, 52, 52);
}

.selecionado {
    background-color: blue;
}

.riscado {
    text-decoration: line-through;
}

ol {
    width: 1000px;
    margin: 0 auto;
    list-style-position: inside;
    text-align: left;
    padding: 0;
    background-color: rgba(196, 117, 28, 0.767)
}

.footer {
    border-top: 5px groove rgb(167, 94, 26);
    border-bottom: 5px groove rgb(167, 94, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgb(172, 98, 63);
    font-size: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
